---
import { getSinglePage } from "@/lib/contentParser.astro";

export async function getStaticPaths() {
  const BLOG_FOLDER = "enPosts";
  const posts = await getSinglePage(BLOG_FOLDER);

  const paths = posts.map((post) => ({
    params: {
      single: post.id,
    },
    props: { post },
  }));
  return paths;
}

const target = `/en/blog/${Astro.params.single}/`;
---

<html lang="en">
  ---
  import config from "@/config/config.json";

  const { single } = Astro.params;

  const rawBasePath = config.site.base_path || "/";
  const basePath = rawBasePath === "/" ? "" : rawBasePath.replace(/\/$/, "");
  const target = `${basePath}/en/blog/${single}/`;
  ---
    <title>Redirecting…</title>
  </head>
  <body>
    <a href={target}>Redirecting…</a>
  </body>
</html>
